
.register-page {
    min-height: 100vh;
    background: linear-gradient(135deg, #000000, #1a1a1a);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}


.register-box {
    background: #111;
    width: 100%;
    max-width: 380px;
    padding: 30px 25px;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(190, 14, 14, 0.35);
    animation: fadeUp 0.7s ease;
}


.register-box h2 {
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.register-box h2 {
    color: #cd2626;
}


.register-box input,
.register-box select {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    background: #000;
    border: 1px solid #333;
    border-radius: 6px;
    color: #fff;
    font-size: 14px;
}

.register-box input::placeholder {
    color: #aaa;
}

.register-box input:focus,
.register-box select:focus {
    outline: none;
    border-color: #e53935;
    box-shadow: 0 0 6px rgba(229,57,53,0.6);
}


.register-box button {
    width: 100%;
    padding: 13px;
    background: #e53935;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    letter-spacing: 1px;
    transition: 0.3s;
}

.register-box button:hover {
    background: #c62828;
    transform: translateY(-2px);
}


.register-note {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #bbb;
}


@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(25px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.features {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px 20px;
    background: #000;
}

.feature {
    background: #111;
    padding: 20px;
    border-radius: 8px;
    width: 200px;
    border-bottom: 3px solid #e53935;
}
